@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CropPulse</h1>
    <p>Learn about <a>CropPulse is a digital clinic designed to bridge the gap between farmers and plant pathology.</a>.</p>
</div>
